<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.coursera.shopping.mapper.ShoppingMapper">
  <resultMap id="BaseResultMap" type="com.young.coursera.shopping.domain.Shopping">
    <id column="shoping_id" jdbcType="BIGINT" property="shopingId" />
    <result column="shoping_name" jdbcType="VARCHAR" property="shopingName" />
    <result column="shoping_price" jdbcType="INTEGER" property="shopingPrice" />
  </resultMap>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from shopping
    where shoping_id = #{shopingId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.young.coursera.shopping.domain.Shopping">
    insert into shopping (shoping_id, shoping_name, shoping_price
      )
    values (#{shopingId,jdbcType=BIGINT}, #{shopingName,jdbcType=VARCHAR}, #{shopingPrice,jdbcType=INTEGER}
      )
  </insert>
  <update id="update" parameterType="com.young.coursera.shopping.domain.Shopping">
    update shopping
    set shoping_name = #{shopingName,jdbcType=VARCHAR},
      shoping_price = #{shopingPrice,jdbcType=INTEGER}
    where shoping_id = #{shopingId,jdbcType=BIGINT}
  </update>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select shoping_id, shoping_name, shoping_price
    from shopping
    where shoping_id = #{shopingId,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select shoping_id, shoping_name, shoping_price
    from shopping
  </select>
</mapper>